<%- include('partials/header') %>

<div class="container">
    <form action="/inputkey" method="post">

<div class="form-group">
    <label for="">Enter key: </label>
    <input type="text" class="form-control" name="enterkey" aria-describedby="helpId" placeholder="" autofocus=true>
    </div>
    <button type="submit" name="submit" id="" class="btn btn-primary" btn-lg btn-block">Submit</button>

    </form>
    
</div>

<%- include('partials/footer') %>
