<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-3">Succesfully Registered</h1>
    <p class="lead">Login to continue!</p>
    <form action="/" method="post">
    <button type="submit">Back to home</button>
    </form>
    <hr class="my-2">
   
</div>


<%- include('partials/footer') %>