<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-3">Succesfully Logged In!</h1>
    <p class="lead">Welcome to the portal :) </p>
    <hr class="my-2">
   
</div>


<%- include('partials/footer') %>